@{
    ViewBag.Title = "Contacts";
}
@model Food

<h2>Редактирование товара</h2>
<form asp-controller="Edit" asp-action="EditFood" method="post">
    <p>
        <label asp-for="Name">Новое наименование</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <label asp-for="Category">Выберите категорию</label><br />
        <select asp-for="Category.Name">
            <option value="Пицца">Пицца</option>
            <option value="WOK">WOK</option>
            <option value="Роллы">Роллы</option>
            <option value="Салаты">Салаты</option>
            <option value="Напитки">Напитки</option>
        </select>
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="number" asp-for="Price" />
    </p>
    <p>
        <label asp-for="Img">Путь к изображению /img/...</label><br />
        <input type="text" asp-for="Img" />
    </p>
    <p>
        <label asp-for="ToViewHome">Показать в рекомендациях?</label><br />
        <input type="checkbox" asp-for="ToViewHome" />
    </p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
